<header class="intro-header" style= "background-image: url('{{header.background}}'); padding-top:100px "  >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">

<!--                     <h1 style= "color:#428bca " >{{header.main_title}}</h1>
                    <hr class="small">
                    <span class="subheading" style= "color:#428bca " >{{header.presentation_interface}}</span> -->

                    <h1 style= "color:#428bca " >{{header.main_title}}</h1>
                    <hr class="small">
                    <h2 style= "color:#428bca " >{{header.mess}}</h2>
                    <hr class="small">
                    <span class="subheading" style= "color:#428bca " >{{header.presentation_interface}}</span>

                    <ul class="pager">
                        <li class="next">
                            <a href='/select_proc_visu'>{{body.begin}}</a>
                        </li> 
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</header>